.main {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

.input-container {
  max-width: 500px;
  margin: 2rem auto;
  border: 1px solid #000;
  border-radius: 0.3125rem;
  padding: 0.5rem;
  position: relative;
}

.input-textarea {
  display: flex;
  flex-direction: column;
}

.input-textarea > textarea {
  padding: 0.25rem;
  margin: 0.25rem;
  border: none;
  outline: none;
  resize: none;
}

.pin-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.input-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-btn-container > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem;
}

.notes-conatiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notes-section {
  margin: 1rem 0 2rem;
}

.notes-section-heading {
  margin: 2rem 1rem 1rem;
}

@media (max-width: 400px) {
  .notes-section-heading {
    margin-left: 0;
  }
}
